<br><h1 align ="center"><b>News</b> </h1>

<div class="columns">
    <div class="column">
        <h2> <a href=" https://www.infoq.com/news/2022/06/angular-14-typed-forms/" target="blank"> Angular 14 release </a> </h2>
        <h5> June 7, 2022 </h5>
        <p> Angular 14 was released earlier in June 2022 with the most significant update since Ivy. It includes two long-awaited features, Typed Reactive Forms and Standalone Components, as well as several minor improvements. </p>
    </div>
    <div class="column">
        <h2> <a href=" https://www.infoq.com/news/2022/01/angularjs-lts-end/" target="blank"> AngularJS is no more alive </a> </h2>
        <h5> Jan 19, 2022 </h5>
        <p> After a grace period induced by the current global pandemic, long-term support for AngularJS has been discontinued. While AngularJS will still remain available, its repo will be archived and will receive no more additional updates, including security patches. </p>
    </div>
    <div class="column">
        <h2> <a href=" https://blog.angular.io/discontinued-long-term-support-for-angularjs-cc066b82e65a" target="blank">  No Long Term Support- AngularJS</a> </h2>
        <h5> Jan 11, 2022 </h5>
        <p> In January of 2018 we laid out our plans for the final releases of AngularJS before entering long-term support and last year, we extended the LTS due to the global pandemic until December 31, 2021. Well, friends, the time has come and we’re no longer supporting AngularJS. </p>
    </div>
    <div class="column">
        <h2> <a href=" https://www.infoq.com/news/2021/11/introducing-angular-13/" target="blank"> Introducing Angular 13 </a> </h2>
        <h5> Nov 30, 2021 </h5>
        <p> Google recently announced the release of Angular 13, their popular single-page application framework, continuing the steady stream of small improvements we have seen since the release of the Ivy engine in Angular 9. </p>
    </div>
    <div class="column">
        <h2> <a href=" https://www.infoq.com/news/2021/05/angular-devtools-profiler/" target="blank"> Angular DevTools Released </a> </h2>
        <h5> May 21, 2021 </h5>
        <p> Angular DevTools Released, Includes Component Explorer and Profiler. Minko Gechev, software engineer working on Angular at Google, recently announced the Angular DevTools Chrome extension. Angular DevTools includes a component explorer and profiler that let developers visualize component trees and analyze change detection cycles. Angular DevTools supports applications built with Angular v9 and above with Ivy enabled.</p>
    </div>
    <div class="column">
        <h2> <a href=" https://www.infoq.com/news/2020/12/micro-frontends-single-spa/" target="blank"> Micro-Frontends with single-spa </a> </h2>
        <h5> Dec 16, 2020 </h5>
        <p> Micro-frontend extends the concept of Micro-services to the frontend. The goal is to break down large SPA into smaller independent applications that can use different technologies and be developed and managed by separate teams. single-spa is a framework that helps developers achieve that goal by simplifying the composition of multiple front-end applications into a single product.</p>
    </div>
    <div class="column">
        <h2> <a href=" https://www.infoq.com/news/2020/11/angular-11/" target="blank"> Angular 11 has arrived </a> </h2>
        <h5> Nov 17, 2020 </h5>
        <p> Google has released version 11 of Angular, its popular Single Page Application framework. The release focuses on improving the developer experience and finalizing the cleanup of the issue tracker.</p>
    </div>
    <div class="column">
        <h2> <a href=" https://www.infoq.com/news/2020/10/ngrx-component-store-local-state/ " target="blank"> Reactive Angular Library NgRx Additions </a> </h2>
        <h5> Oct 01, 2020 </h5>
        <p> NgRx, a platform which self-describes as focusing on reactive extensions for Angular based on RxJS, shipped its 10th major iteration with a new component store package for local state management. The new package complements the NgRx Store used for application-wide state management. Additionally, a new experimental NgRx Component package strives to support developers in writing Angular Zoneless applications leveraging Angular Ivy capabilities for better performance.</p>
    </div>
    <div class="column">
        <h2> <a href=" https://www.infoq.com/news/2020/07/angular-10-incremental-update/ " target="blank"> Angular 10- an incremental update</a> </h2>
        <h5> Jul 02, 2020 </h5>
        <p> Angular 10 is the next major release of Google's SPA framework. It's a relatively small release that focuses on bug fixes, improved tooling, and dependency updates.</p>
    </div>
    <div class="column">
        <h2> <a href=" https://www.infoq.com/news/2020/07/angular-10-incremental-update/ " target="blank"> Angular 9.1 Adds TypeScript 3.8 Support and Faster Builds</a> </h2>
        <h5> Mar 31, 2020 </h5>
        <p> The Angular 9.1 release adds support for TypeScript 3.8 and reduces the time it takes to build an Angular application. TypeScript 3.8 was a significant improvement to the language, adding several new ES2020 features like private class fields and top-level await, as well as type-only imports and exports. </p>
    </div>
    
</div>