<br><h1 align ="center"><b>WELCOME</b> </h1>
<table align="center" border="1" width="90%" margin-left="10px"> 
    <tr>
<td>

    <h3 align="center"><b>Welcome to our Angular Diary!</b></h3>
This simple tutorial walks you through the world of Angular by providing insights on Angular materials,eBooks etc.
It provides resources to make you interview ready and helps you check your knowledge by attempting quiz.
To keep you updated about Angular, it also shows news and events related to it.
<br>
Angular is a web application framework that is built on TypeScript. 
It is used by many frontend developers to build single-page client applications
 using TypeScript and HTML.
 There are many Angular applications. Some popular Angular apps include Gmail, Xbox, Upwork, and PayPal.
<br>
With Angular, you're taking advantage of a platform that can scale from single-developer projects to 
enterprise-level applications. Angular is designed to make updating as straightforward as possible, 
so take advantage of the latest developments with a minimum of effort. Best of all, 
the Angular ecosystem consists of a diverse group of over 1.7 million developers, library authors, and 
content creators.
<br>
<ul align="center" ><h3><b>As a platform, Angular includes:</b></h3>
    <li align="left">A component-based framework for building scalable web applications</li>
    <li align="left">Collection of well-integrated libraries that cover a wide variety of features, 
        including routing, forms management, client-server communication, and more</li>
    <li align="left">A suite of developer tools to help you develop, build, test, and update your code</li>
</ul>
<h3 align="center"><b>Lets get started!</b></h3>
<h3 align="center"><b>Click the below link to install Angular in your local machine.</b></h3>

  <table align="center"><tr >
    <a  href="https://angular.io/guide/setup-local" target="blank">
        Setting up the local environment and workspace
        </a>  
  
  </tr></table>
  <br>
</td>
</tr>
</table> 
 

