<div class="container">
    <mat-card-title class="title">
      <a [routerLink] = "[url]"  fragment="topic1">Binding</a>
    </mat-card-title>
    <mat-card-title class="title">
      <a [routerLink] = "[url]"  fragment="topic2">Bootstrap</a>
    </mat-card-title>
    <mat-card-title class="title">
      <a [routerLink] = "[url]"  fragment="topic3">Decorator</a>
    </mat-card-title>
    <mat-card-title class="title">
      <a [routerLink] = "[url]"  fragment="topic4">Component</a>
    </mat-card-title>
    <mat-card-title class="title">
      <a [routerLink] = "[url]"  fragment="topic5">Dependency Injection (DI)</a>
    </mat-card-title >
    <mat-card-title class="title">
      <a [routerLink] = "[url]"  fragment="topic6">Directive</a>
    </mat-card-title>
    <mat-card-title class="title">
      <a [routerLink] = "[url]"  fragment="topic7">Eager Loading</a>
    </mat-card-title>
    <mat-card-title class="title">
      <a [routerLink] = "[url]"  fragment="topic8">Form Validation</a>
    </mat-card-title>
    <mat-card-title class="title">
      <a [routerLink] = "[url]"  fragment="topic9">Injectable</a>
    </mat-card-title>
    <mat-card-title class="title">
      <a [routerLink] = "[url]"  fragment="topic10">Lifecycle Hook</a>
    </mat-card-title>
  </div>
  