<mat-card  align="center" >
  <mat-card-title>
  <h1><b> Feedback Form </b></h1>
  </mat-card-title>
  <mat-card-subtitle>
  <h3>Let us know how we are doing. Just fill the form below:</h3>
  </mat-card-subtitle>
  <mat-card-content >
  <form [formGroup]="form" autocomplete="off">
    <table align="center" border = "1" width="70%"> 
       <!-- First name -->
      <tr>
        <td><b> <label  for="firstname">FIRSTNAME : </label></b></td>
        <td><mat-form-field class="demo-full-width"> 
        <input type="text" class="form-control" formControlName="firstname" 
        style="width: 500px;height:50px" placeholder="Max 15 chars; Only letters."
        [class.is-invalid]="(form.get('firstname')?.touched || form.get('firstname')?.dirty) 
        && form.get('firstname')?.invalid">
        <!-- error block -->
        <div class="invalid-feedback" 
        *ngIf="(form.get('firstname')?.touched || form.get('firstname')?.dirty) && form.get('firstname')?.invalid">
          <sup>*</sup>Please enter valid firstname.
        </div>
        </mat-form-field></td>
    </tr>

   <!-- Last name -->
   <tr>
    <td><b> <label  for="lastname">LASTNAME : </label></b></td>
    <td><mat-form-field class="demo-full-width"> 
    <input type="text" class="form-control" formControlName="lastname" 
    style="width: 500px;height:50px" placeholder="Max 15 chars; Only letters."
    [class.is-invalid]="(form.get('lastname')?.touched || form.get('lastname')?.dirty) 
    && form.get('lastname')?.invalid">
    <!-- error block -->
    <div class="invalid-feedback" 
    *ngIf="(form.get('lastname')?.touched || form.get('lastname')?.dirty) && form.get('lastname')?.invalid">
      <sup>*</sup>Please enter valid lastname.
    </div>
    </mat-form-field></td>
</tr>

   <!-- Address -->
   <tr>
    <td><b> <label  for="address">ADDRESS : </label></b></td>
    <td><mat-form-field class="demo-full-width"> 
    <input type="text" class="form-control" formControlName="address" style="width: 500px;height:50px"
    [class.is-invalid]="(form.get('address')?.touched || form.get('address')?.dirty) 
    && form.get('address')?.invalid">
    <!-- error block -->
    <div class="invalid-feedback" 
    *ngIf="(form.get('address')?.touched || form.get('address')?.dirty) && form.get('address')?.invalid">
      <sup>*</sup>Please enter valid address.
    </div>
    </mat-form-field></td>
</tr>

 <!-- City -->
 <tr>
  <td><b> <label  for="city">CITY : </label></b></td>
  <td><mat-form-field class="demo-full-width"> 
  <input type="text" class="form-control" formControlName="city" style="width: 500px;height:50px"
  [class.is-invalid]="(form.get('city')?.touched || form.get('city')?.dirty) 
  && form.get('city')?.invalid">
  <!-- error block -->
  <div class="invalid-feedback" 
  *ngIf="(form.get('city')?.touched || form.get('city')?.dirty) && form.get('city')?.invalid">
    <sup>*</sup>Please enter valid city name.
  </div>
  </mat-form-field></td>
</tr>
 <!-- Country -->
 <tr>
  <td> <b><label  for="country">COUNTRY : </label> </b></td>
  <td><mat-form-field class="demo-full-width"> 
  <input type="text" class="form-control" formControlName="country" style="width: 500px;height:50px"
  [class.is-invalid]="(form.get('country')?.touched || form.get('country')?.dirty) 
  && form.get('country')?.invalid">
  <!-- error block -->
  <div class="invalid-feedback" 
  *ngIf="(form.get('country')?.touched || form.get('country')?.dirty) && form.get('country')?.invalid">
    <sup>*</sup>Please enter valid country name.
  </div>
  </mat-form-field></td>
</tr>
<!-- Email -->
<tr>
  <td><b> <label  for="email">EMAIL : </label></b></td>
  <td><mat-form-field class="demo-full-width"> 
  <input type="text" class="form-control" formControlName="email" 
  style="width: 500px;height:50px" placeholder="eg., abc@gmail.com."
  [class.is-invalid]="(form.get('email')?.touched || form.get('email')?.dirty) 
  && form.get('email')?.invalid">
  <!-- error block -->
  <div class="invalid-feedback" 
  *ngIf="(form.get('email')?.touched || form.get('email')?.dirty) && form.get('email')?.invalid">
    <sup>*</sup>Please enter valid email id.
  </div>
  </mat-form-field></td>
</tr>
<!-- Phone -->
<tr>
  <td><b> <label  for="phone">PHONE : </label></b></td>
  <td><mat-form-field class="demo-full-width"> 
  <input type="text" class="form-control" formControlName="phone" 
  style="width: 500px;height:50px" placeholder="Must be there 10 digits."
  [class.is-invalid]="(form.get('phone')?.touched || form.get('phone')?.dirty) 
  && form.get('phone')?.invalid">
  <!-- error block -->
  <div class="invalid-feedback" 
  *ngIf="(form.get('phone')?.touched || form.get('phone')?.dirty) && form.get('phone')?.invalid">
    <sup>*</sup>Please enter valid phone number.
  </div>
  </mat-form-field></td>
</tr>
<!-- Comments -->
<tr>
  <td><b> <label  for="comments">COMMENTS : </label></b></td>
  <td><mat-form-field class="demo-full-width"> 
  <input type="text" class="form-control" formControlName="comments" 
  placeholder="Max 20 chars;" style="width: 500px;height:50px"
  appComments>
  </mat-form-field></td>
</tr>

</table>
<mat-card-actions>
  <button mat-raised-button color="accent"  (click)="submit()">Submit</button><br>
 
</mat-card-actions>

</form>
</mat-card-content>
<div *ngIf="flag==true" style="color:green">
{{shwText}}
</div>
<br>
<h1> Thank You!</h1>
<br>
</mat-card>