<br><h2 align ="center"><b>Events</b> </h2>

<h3 align="center"><b>Upcoming Events </b> </h3>

<table class="center">
    
    <tr>
      <th> </th>
      <th>Event</th>
      <th>Date</th>
      <th>Details</th>
      <th>Know More</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Workshops on ng-conf</td>
      <td>Aug 29, 2022 - Aug 30, 2022</td>
      <td> Salt Lake City, USA or Online</td>
      <td> <a href="https://2022.ng-conf.org/" target="blank"><b>Click me!</b></a> </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Workshops on NG-DE</td>
        <td>Sep 23, 2022</td>
        <td> Berlin, Germany</td>
        <td> <a href="https://ng-de.org/" target="blank"> <b>Click me!</b></a></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Conference on Latest Trends in Angular</td>
      <td>Dec 02, 2022</td>
      <td> Rome</td>
      <td> <a href="https://ngrome.io/home" target="blank"><b>Click me!</b></a> </td>
    </tr>
  </table>
  <h3 align="center"><b>Past Events </b> </h3>
  <table class="center">
    
    <tr>
      <th> </th>
      <th>Event</th>
      <th>Date</th>
      <th>Details</th>
      <th>Know More</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Angular Global Summit</td>
        <td>Jun 01, 2021</td>
        <td> Online</td>
        <td> <a href="https://geekle.us/angular?utm_source=organic&utm_medium=offsite" target="blank"><b>Click me!</b></a> </td>
      </tr>
      
      <tr>
        <td>2</td>
        <td>Angular conference </td>
        <td>Feb 29, 2020</td>
        <td> Delhi, India</td>
        <td> <a href="https://www.ng-ind.com/ngIndia-2020/" target="blank"><b>Click me!</b></a> </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Webinar- Angular Developers</td>
        <td>Oct 19, 2020</td>
        <td> Online</td>
        <td> <a href="https://www.telerik.com/devreach/online/agenda-thursday#sessions" target="blank"><b>Click me!</b></a> </td>
      </tr>
    <tr>
      <td>4</td>
      <td>Webinar- Building Professional Website using Angular</td>
      <td>Nov 14, 2018</td>
      <td> Online</td>
      <td> <a href="https://www.techgig.com/webinar/Build-a-Professional-Web-Application-with-Angular-and-Kendo-UI-1385" target="blank"><b>Click me!</b></a> </td>
    </tr>
    <tr>
        <td>5</td>
        <td>Webinar- Basics of coding in Angular 2 and Intro to Angular 4</td>
        <td>Aug 07, 2017</td>
        <td> Online</td>
        <td> <a href="https://www.techgig.com/webinar/Basics-of-coding-in-Angular-2-and-Introduction-to-Angular-4-1122" target="blank"> <b>Click me!</b></a></td>
    </tr>
  </table>