<div class="container" >
    <mat-card class="example-card">
      <div class="topic" id="topic1">
        <mat-card-title>
          <h1>Binding</h1>
        </mat-card-title>
        <mat-card-content>
        <p>
          Binding is the process which forms the connection between the application UI and the data which comes from the business logic.
          Property binding in Angular helps to set values for properties of HTML elements or directives
        </p>
      </mat-card-content>
      <mat-card-content>
        <a href = "https://angular.io/guide/glossary#binding" target="_blank">Read More</a>
      </mat-card-content>
      </div>
     </mat-card>
  
      <mat-card class="example-card">
     <div class="topic" id="topic2">
      <mat-card-title>
        <h1>Bootstrap</h1>
      </mat-card-title>
      <p>
        A way to initialize and launch an application or system.
        In Angular, the AppModule root NgModule of an application has a bootstrap property that identifies the top-level components of the application. During the bootstrap process, Angular creates and inserts these components into the index.html host web page.
      </p>
      <mat-card-content>
        <a href = "https://angular.io/guide/glossary#bootstrap" target="_blank">Read More</a>
      </mat-card-content>
     </div>
     </mat-card>
  
     <mat-card class="example-card">
       <div class="topic" id="topic3">
        <mat-card-title>
          <h1>Decorator</h1>
        </mat-card-title>
        <p>
          Angular defines decorators that attach metadata to classes or properties so that it knows what those classes or properties mean and how they should work.
        </p>
        <mat-card-content>
          <a href = "https://angular.io/guide/glossary#decorator--decoration" target="_blank">Read More</a>
        </mat-card-content>
      </div>
     </mat-card>
  
     <mat-card class="example-card">
       <div class="topic" id="topic4">
        <mat-card-title>
          <h1>Component</h1>
        </mat-card-title>
        <p>
          An Angular component class is responsible for exposing data and handling most of the display and user-interaction logic of the view through data binding
        </p>
        <mat-card-content>
          <a href = "https://angular.io/guide/glossary#component" target="_blank">Read More</a>
        </mat-card-content>
      </div>
     </mat-card>
     <mat-card class="example-card">
       <div class="topic" id="topic5">
        <mat-card-title>
          <h1>Dependency Injection (DI)</h1>
        </mat-card-title>
        <p>
          In Angular, dependencies are typically services, but they also can be values, such as strings or functions. An injector for an application (created automatically during bootstrap) instantiates dependencies when needed, using a configured provider of the service or value.
        </p>
        <mat-card-content>
          <a href = "https://angular.io/guide/glossary#dependency-injection-di" target="_blank">Read More</a>
        </mat-card-content>
      </div>
     </mat-card>
     <mat-card class="example-card">
       <div class="topic" id="topic6">
        <mat-card-title>
          <h1>Directive</h1>
        </mat-card-title>
        <p>
          A directive class is usually associated with an HTML element or attribute, and that element or attribute is often referred to as the directive itself.
        </p>
        <mat-card-content>
          <a href = "https://angular.io/guide/glossary#directive" target="_blank">Read More</a>
        </mat-card-content>
      </div>
     </mat-card>
     <mat-card class="example-card">
       <div class="topic" id="topic7">
        <mat-card-title>
          <h1>Eager Loading</h1>
        </mat-card-title>
        <p>
          NgModules or components that are loaded on launch are referenced as eager-loaded, to distinguish them from those that are loaded at run time that are referenced as lazy-loaded.
        </p>
        <mat-card-content>
          <a href = "https://angular.io/guide/glossary#eager-loading" target="_blank">Read More</a>
        </mat-card-content>
      </div>
     </mat-card>
     <mat-card class="example-card">
       <div class="topic" id="topic8">
        <mat-card-title>
          <h1>Form Validation</h1>
        </mat-card-title>
        <p>
          A check that runs when form values change and reports whether the given values are correct and complete, according to the defined constraints. Reactive forms apply validator functions. Template-driven forms use validator directives.
        </p>
        <mat-card-content>
          <a href = "https://angular.io/guide/glossary#form-validation" target="_blank">Read More</a>
        </mat-card-content>
      </div>
     </mat-card>
     <mat-card class="example-card">
       <div class="topic" id="topic9">
        <mat-card-title>
          <h1>Injectable</h1>
        </mat-card-title>
        <p>
          An Angular class or other definition that provides a dependency using the dependency injection mechanism. An injectable service class must be marked by the @Injectable() decorator. Other items, such as constant values, can also be injectable.
      </p>
      <mat-card-content>
        <a href = "https://angular.io/guide/glossary#injectable" target="_blank">Read More</a>
      </mat-card-content>
    </div>
     </mat-card>
     <mat-card class="example-card">
       <div class="topic" id="topic10">
        <mat-card-title>
          <h1>Lifecycle Hook</h1>
        </mat-card-title>
        <p>
          An interface that allows you to tap into the lifecycle of directives and components as they are created, updated, and destroyed.
        </p>
      <mat-card-content>
        <a href = "https://angular.io/guide/glossary#lifecycle-hook" target="_blank">Read More</a>
      </mat-card-content>
    </div>
     </mat-card>
  </div>
  